<div class="footer navbar-fixed-bottom" id="footer" >
<div class="container">
<ul class=" pull-left navbar-link footer-nav">
<li><a href="/home"> Home </a> <a href="#"> About us </a> <a href="#"> Terms and Conditions </a> <a href="#"> Privacy Policy </a> <a href="#"> Contact us </a> <a href="#"> FAQ </a>
</li></ul>
<ul class=" pull-right navbar-link footer-nav">
<li> © 2015 Beta </li>
</ul>
</div>
</div>