<div class="header">
<nav class="navbar   navbar-site navbar-default" role="navigation">
<div class="container">
<div class="navbar-header">
<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
<a href="/" class="navbar-brand logo logo-title">
 
<span class="logo-icon"></span> TwitStr</a> </div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-right">
<li class="postadd"><a class="btn btn-block   btn-border btn-post btn-info" href="/github">Github</a></li>
<li class="postadd"><a class="btn btn-block   btn-border btn-post btn-danger" href="/browser">Browser</a></li>
</ul>
</div>
 
</div>
 
</nav>
</div>
<script src="js/angular.min.js"></script>
<script src="controllers/controller.js"></script>
