
<html>
<head>
<%include partials/head.ejs %>
</head>

<body>
<%include partials/header.ejs %>

<div class="container">
<p> Hello World</p>
</div>


<%include partials/footer.ejs %>
<%include partials/jsdefaults.ejs %>
</body>

</html>
